.card {
background: white;
padding: 20px;
border-radius: 10px;
box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
text-align: center;
font-family: Arial, sans-serif;
font-size: 16px;
font-weight: bold;
color: #333;
width: 300px;
height: 300px;
align-items: center;
margin: 0 auto;
}

body {
background: #f0f0f0;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}

.card h1 {
color: tomato;
}